@charset "utf-8";
/* CSS Document */
html, body, div { margin: 0; padding: 0; border: 0 none; }
}

/*Defines the style for normal unvisited links.*/
.class1 a:link {
	text-decoration:none;color:#6698B3;
}

/*Defines the style for visited links.*/
.class1 a:visited {
	text-decoration:color:#6698B3;
}

/*Defines the style for active links.
A link becomes active once you click on it.
.class1 a:hover {  
	text-decoration:underline; color:white;*/
}

/*Defines the style for hovered links.
A link is hovered when the mouse moves over it.
Note: Not supported by Netscape browsers prior to version 6.*/
.class1 a:active {
	text-decoration:underline;
}

body{
	padding:0px 0px 0px 0px;
	background-color:#2c2c2c;
	font:normal 11px tahoma,verdana,arial;
	text-align: center;
	

	
}



#container{
	background-image:url('../images/HyFi-Homescreen03.jpg');
	background-color:WHITE;
	background-image:no-repeat;
	width:1920px;
	height:1080px;
	position: relative;
 	top: 0%;
  	left: 0%;
  	margin-top: 0px;
  	margin-left: 0px;
	opacity:0;
	overflow:hidden;
}

#europeID {
width: 407px;
height: 454px;
position: absolute;
top: 563px;
left: 1103px;
margin-top: 0px;
margin-left: 0px;
opacity: 0;
}

#northAmericaID {
width: 407px;
height: 454px;
position: absolute;
top: 561px;
left: 390px;
margin-top: 0px;
margin-left: 0px;
opacity: 0;
}

