/* Qualcomm fonts */
@font-face {
    font-family: 'QualcommWeb-Bold';
    src: url('fonts/QualcommWeb-Bold.eot');
    src: url('fonts/QualcommWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Bold.woff') format('woff'),
         url('fonts/QualcommWeb-Bold.ttf') format('truetype'),
         url('fonts/QualcommWeb-Bold.svg#QualcommWebBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QualcommWeb-Regular';
    src: url('fonts/QualcommWeb-Regular.eot');
    src: url('fonts/QualcommWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Regular.woff') format('woff'),
         url('fonts/QualcommWeb-Regular.ttf') format('truetype'),
         url('fonts/QualcommWeb-Regular.svg#QualcommWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QualcommWeb-Semibold';
    src: url('fonts/QualcommWeb-Semibold.eot');
    src: url('fonts/QualcommWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Semibold.woff') format('woff'),
         url('fonts/QualcommWeb-Semibold.ttf') format('truetype'),
         url('fonts/QualcommWeb-Semibold.svg#QualcommWebSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* and then? */
body,
#site-slogan {
	font-family: "QualcommWeb-Regular", Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}
a:hover {
	text-decoration: none;
}
#site-name,
.hdemos .views-field-view-node a {
	font-family: "QualcommWeb-Bold", Arial, sans-serif;
	font-weight: normal;
}
.hdemos .views-field-title,
a#backhome,
.vdemos .views-field-title {
	font-family: "QualcommWeb-Semibold", Arial, sans-serif;
	font-weight: normal;
}
/* */
body {
	color: #333;
}
#page-wrapper,
#footer-wrapper {
	background: #fff;
}
#header,
#hmovie {
	background: url(../images/header.png) no-repeat 50% 0;
	float: left;
	height: 500px;
	width: 1920px;
	position: relative;
}
#hmovie {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#hmovie video {
	float: left;
	width: 100%;
	height: 100%;
}
#header div.section {
	margin: 0 0 0 139px;
	width: 747px;
	z-index: 9;
}
#logo {
	padding: 90px 0 27px;
	margin: 0;
}
#name-and-slogan {
	border-top: 7px solid #fff;
	border-bottom: 3px solid #fff;
	margin: 0;
	padding: 4px 0 17px;
}
#site-name {
	font-size: 72px;
}
#site-slogan {
	font-size: 24px;
	line-height: 24px;
	word-spacing: normal;
}
/* */
#main-wrapper {
	float: left;
	width: 1920px;
}
#main,
.no-sidebars #content {
	width: 1642px;
	margin: 0 auto;
}
#main .tabs {
	display: none;
}
#content .section {
	padding: 0;
}
.hdemos,
.hdemos .view-content,
.hslider {
	float: left;
	width: 1642px;
	height: 520px;
	position: relative;
}
.hdemos .view-content {
	overflow: hidden;
}
.hslider {
	position: absolute;
	top: 0;
	left: 0;
}
.harr a {
	float: left;
	width: 70px;
	height: 228px;
	position: absolute;
	left: -139px;
	top: 176px;
	background: url(../images/arrowd.png) no-repeat 0 0;
}
.harr a.n {
	left: 1711px;
	background-position: -140px 0;
}
.harr a:hover {
	background-position: -70px 0;
}
.harr a.n:hover {
	background-position: -210px 0;
}
.harr a.off {
	opacity: 0.6;
}
.harr a.off:hover {
	background-position: 0 0;
	cursor: default;
}
.harr a.n.off:hover {
	background-position: -140px 0;
}
.hdemos .views-row {
	float: left;
	width: 352px;
	height: 482px;
	margin: 100px 0 0 78px;
}
.hdemos .views-row.views-row-first {
	margin-left: 0;
}
.hdemos .views-field-field-thumbnail {
	background: url(../images/shadow.jpg) no-repeat 50% 100%;
	height: 198px;
    width: 352px;
	padding: 0 19px 46px;
    position: relative;
    margin: 0 -19px;
}
.hdemos .views-field-title {
	background: url(../images/line.gif) no-repeat 0 0;
	padding: 21px 0 30px;
	font-size: 28px;
	line-height: 36px;
}
.hdemos .views-field-body {
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 1px;
}
.hdemos .views-field-view-node a {
	background: url(../images/launch.png) no-repeat 0 0;
	color: #fff;
	display: block;
	font-size: 33px;
	line-height: 33px;
	padding: 14px 0 0 113px;
	width: 244px;
	height: 49px;
	letter-spacing: 1px;
}
.hdemos .views-field-view-node a:hover,
.hdemos .views-field-view-node a:focus {
	text-decoration: none;
    background-position: 0 100%;
}
/* and then */
body #sidecar-wrapper {
    overflow: hidden;
}
#dframe {
	display: block;
	width: 1920px;
	height: 1080px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/examplesite.jpg) no-repeat 0 0;
	z-index: 1;
}

#scontent {
	position: relative;
	width: 1920px;
	height: 1080px;
	padding: 0;
	margin: 0 auto;
}

#sidetop {
	background: url(../images/sidetop.png) no-repeat 0 0;
	width: 617px;
	height: 206px;
	color: #fff;
	padding: 18px 0 0 20px;
	position: relative;
}
#sidecar-content h3 {
	/*
	font-size: 1.6em;
	line-height: 1em;
	*/
	margin: 0 0 10px;
}
#breadcrumbs {
	float: left;
	width: 100%;
}
#sidetop .breadcrumb {
	font-size: 18px;
	line-height: 22px;
	float: left;
	margin: 0;
	padding: 0;
}
#sidetop .breadcrumb a {
	float: left;
	width: 18px;
	height: 16px;
	text-indent: -999em;
	background: url(../images/home.png) no-repeat 0 0;
	margin: 3px 0;
}
#sidetop #site-name {
	font-size: 40px;
	margin: 72px 0 28px;
}
#sidetop #site-name a {
	color: #fff;
}

.vdemos {
	float: left;
	width: 100%;
}
.vdemos .views-row {
	border-bottom: 1px solid #333;
	float: left;
	width: 600px;
	padding: 7px 7px 7px 30px;
	height: 142px;
	position: relative;
}
.vdemos .views-row.active {
	background: #ebebeb;
}
.vdemos .views-field-field-thumbnail,
.vdemos .views-field-field-thumbnail div,
.vdemos .views-field-field-thumbnail img {
	float: right;
}
.vdemos .views-field-field-thumbnail img {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	margin-left: 50px;
}
.vdemos .views-field-view-node a {
	position: absolute;
	top: 0;
	left: 0;
	width: 637px;
	height: 156px;
	background: url(../images/fx.gif) repeat 0 0;
	text-indent: -999em;
}
.vdemos .views-field-title {
	font-size: 22px;
	margin: 5px 0 6px;
}
.vdemos .views-field-body {
	font-size: 18px;
	line-height: 18px;
}
.content {
	margin: 0;
}
a#backhome {
	float: left;
	width: 179px;
	height: 37px;
	font-size: 26px;
	line-height: 26px;
	color: #fff;
	padding: 6px 0 0 60px;
	background: url(../images/back.png) no-repeat 0 0;
}