@charset "utf-8";
/* CSS Document */
html, body, div { margin: 0; padding: 0; border: 0 none; }
}

/*Defines the style for normal unvisited links.*/
.class1 a:link {
	text-decoration:none;color:#6698B3;
}

/*Defines the style for visited links.*/
.class1 a:visited {
	text-decoration:color:#6698B3;
}

/*Defines the style for active links.
A link becomes active once you click on it.*/
.class1 a:hover {  
	text-decoration:underline; color:white;
}

/*Defines the style for hovered links.
A link is hovered when the mouse moves over it.
Note: Not supported by Netscape browsers prior to version 6.*/
.class1 a:active {
	text-decoration:underline;
}



body{
	padding:0px 0px 0px 0px;
	background-color:#2c2c2c;
	font:normal 11px tahoma,verdana,arial;
	text-align: center;
	

	
}



#container{
	background-image:url('../images/background.jpg');
	background-color:WHITE;
	background-image:no-repeat;
	width:1920px;
	height:1080px;
	position: relative;
 	top: 0%;
  	left: 0%;
  	margin-top: 0px;
  	margin-left: 0px;
	opacity:0;
	overflow:hidden;
}

#container2{
	background-image:url('../images/plan-view-bg.jpg');
	background-color:WHITE;
	background-image:no-repeat;
	width:1920px;
	height:1080px;
	position: absolute;
 	top: 0%;
  	left: 0%;
  	margin-top: 0px;
  	margin-left: 0px;
	opacity:0;
	overflow:hidden;
}


#signal-subnav {
position: absolute;
width: 370px;
height: 73px;
left: 8px;
top: 745px;
}

#plan-view-signal-subnav {
position: absolute;
width: 210px;
height: 252px;
left: -30px;
top: 222px;

}


#sidebar {
position: absolute;
background-image: url('../images/nav-bar.jpg');
background-repeat:no-repeat;
width: 381px;
height: 1080px;
margin: 0 0;
left: -370px;
top: 0;
}

#plan-view-sidebar {
position: absolute;
background-image: url('../images/plan-view-nav-bar.jpg');
background-repeat: no-repeat;
width: 150px;
height: 1080px;
left: -150px;
}


#toggle-buttons {
position: absolute;
top: 407px;
left: 13px;
width: 358px;
overflow-x: hidden;
height:340px;

}
#hdstreaming-Shield1 {
position: absolute;
top: 1px;
left: 343px;
width: 116px;
}

#hdstreaming-Shield2 {
position: absolute;
top: 68px;
left: 343px;
width: 116px;
}
#hdstreaming-Shield3 {
position: absolute;
top: 136px;
left: 343px;
width: 116px;
}
#hdstreaming-Shield4 {
position: absolute;
top: 203px;
left: 343px;
width: 116px;
}
#hdstreaming-Shield5 {
position: absolute;
top: 269px;
left: 343px;
width: 116px;
}


#hd-NotSupported1 {
position: absolute;
top: 1px;
left: 363px;
width: 116px;
}

#hd-NotSupported2 {
position: absolute;
top: 68px;
left: 363px;
width: 116px;
}
#hd-NotSupported3 {
position: absolute;
top: 136px;
left: 363px;
width: 116px;
}
#hd-NotSupported4 {
position: absolute;
top: 203px;
left: 363px;
width: 116px;
}
#hd-NotSupported5 {
position: absolute;
top: 270px;
left: 363px;
width: 116px;
}



#reset-btn {
position: absolute;

width: 123px;
height: 45px;
left: 34px;
top: 820px;
opacity:0;

}
#topTitleBar {
position: absolute;


left: 0px;
top: 0px;
}

#dp1 {
position: absolute;
width: 123px;
height: 45px;
left: 10px;
top: 76px;
}

#dp1-caption {
    height: 45px;
    left: -1px;
    position: absolute;
    top: -13px;
    width: 123px;
}


#dp2 {
position: absolute;
width: 123px;
height: 45px;
left: 118px;
top: 76px;
}
#dp2-caption {
position: absolute;
width: 123px;
height: 45px;
left: 12px;
top: -9px;

}

#dp3 {
position: absolute;
width: 123px;
height: 45px;
left: 232px;
top: 76px;
}
#dp3-caption {
position: absolute;
width: 123px;
height: 45px;
left: 26px;
top: -9px;

}
#devicePersonalities-Menu {
position: absolute;
width: 123px;
height: 45px;
left: 8px;
top: 869px;
opacity: 0;
}

#bottomGreyBar {
position: absolute;
width: 1920px;
height: 58px;
left: 0px;
top: 1020px;
}


#viewBtn {

position: absolute;
width: 300px;
height: 56px;
left: 1940px;
top: 0px;
}

#hybrid-router {
position: absolute;
width: 151px;
height: 148px;
left: 1700px;
top: 370px;
opacity:0;
}
#centralAccessPointID {
position: absolute;
height: 148px;
left: 1700px;
top: 370px;

}

#kitchen-device {
position: absolute;
width: 151px;
height: 148px;
left: 630px;
top: 570px;
opacity: 0;
}

#master-device {
position: absolute;
width: 251px;
height: 148px;
left: 610px;
top: 320px;
opacity: 0;
}

#living-device {
position: absolute;
width: 151px;
height: 187px;
left: 157px;
top: 380px;

}

#bedroom-device {
position: absolute;
width: 151px;
height: 148px;
left: 1310px;
top: 250px;
opacity: 0;
}

#den-device {
position: absolute;
width: 151px;
height: 148px;
left: 600px;
top: 330px;
opacity: 0;
}


#config-btn {
position: relative;
width: 365px;
height: 0px;
top: 738px;
left: 10px;
}

#data-rate {
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 16pt;
    height: 43px;
    left: 136px;
    overflow-x: hidden;
    position: absolute;
    text-align: right;
    top: 174px;
    width: 54px;
}

#gaugeHolder {
height: 218px;



position: absolute;

width: 217px;
}


#RM-32aID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-01ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-02ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-03ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-04ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-05ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-06ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-07ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-08ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-09ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-10ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-11ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-12ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-13ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-14ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-15ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-16ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-17ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-18ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-19ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-20ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-20ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-21ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-22ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;

}
#RM-23ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-24ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-25ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-26ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-27ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-28ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-29ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-30ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-31ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}
#RM-32ID {
height: 218px;
left: 82px;
overflow: hidden;
position: absolute;
top: 81px;
width: 217px;
}



#plan-view-reset-btn {
position: absolute;
width: 133px;
height: 83px;
left: -6px;
top: 239px;
text-align: right;
overflow-x: hidden;
}


#plan-view-data-rate {
position: absolute;
width: 53px;
height: 43px;
left: 20px;
top: 99px;
color: white;
font-size: 16pt;
font-family: 'Open Sans', sans-serif;
text-align: right;
overflow-x: hidden;
}

